<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar :: html_head}"></head>
<body style="background-color: #f0f1f2;">
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="card container px-5 my-5 shadow-sm">
        <div class="card-body my-4">
            <h2>Mahasiswa  <span class="text-danger fw-bold">Database</span></h2>
            <hr>
            <h4>Hanya Diperuntukan Untuk Administrator</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum at officiis aut aliquam labore doloribus perspiciatis autem amet vero earum? At aspernatur dicta qui, ut quod assumenda blanditiis non excepturi?</p>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>